html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(28, 77, 133);
  text-align: center !important;
  margin: auto !important;
}

header {
  background-color: rgb(78, 78, 185);
}

input[type="button"] {
  background-color: rgb(87, 171, 209);
  color: rgb(255, 255, 255);
}

main {
  background-color: rgb(70, 70, 151);
}

li {
  list-style: none;
}

input {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  margin-left: -25px;
}

#score-div {
  background-color: rgba(52, 172, 228, 0.664);
  text-align: center;
}

#score-dialog,
#score {
  font-size: 20px;
}

#imgDiv {
  padding-bottom: 50px;
  background-color: white;
}

#button-div {
  padding-bottom: 50px;
  padding-top: 50px;
}

#score-div {
  padding-top: 50px;
}

#play-again {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  img {
    margin-top: 20px;
    margin-bottom: -20px;
    width: 50%;
    height: 50%;
  }
  input[type="button"] {
    width: 300px;
    margin: 0px 10px 10px 10px;
  }
  #score-div{
    margin: -50px;
  }
}

@media (min-width: 768px) {
  header {
    margin-bottom: 80px;
    padding-right: 30px;
  }
  img {
    padding-top: 50px;
  }
  input {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
  }
}